DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_TOKEN_SECRET=
JWT_ACCESS_TOKEN_DURATION_MINUTE=5
JWT_ACCESS_TOKEN_DURATION_SECOND=300
JWT_REFRESH_TOKEN_DURATION_DAY=7
JWT_REFRESH_TOKEN_DURATION_SECOND=604800
JWT_ACCESS_COOKIE_NAME=access_token
JWT_REFRESH_COOKIE_NAME=refresh_token

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=